.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

.foods {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}

.form-food {
  width: 50vw;
  align-self: center;
}
